.slack-App {
  text-align: center;
}

.slack-logo {
  height: 1em;
}

.navbar {
  min-height: 1.5em;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavItem {
  background-color: #222;
}

.channelsSideNav {
  background-color: rgb(65, 64, 64);
  width: 250px;

}

.usersSideNav {
  color: white;
  background-color: rgb(65, 64, 64);
  width: 250px;
  height: 10vh;
  display: flex;
  justify-content: center;
  // overflow-y: scroll;
}
